@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
html,body{
    margin:0;
    font-family: 'Kalam', cursive,sans-serif;
    font-size: 1.3rem;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(194, 175, 146);
    flex-direction: column;
    gap:30px;
}
#gameboard{
    width:60vh;
    height: 60vh;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}
.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    appearance: none;
    background-color: bisque;
    border:0px;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
    margin: 10px;
}
button:active{
    transform: scale(0.9);
}
label,div{
    text-align: center;
    font-size: 1.2rem;
}
div{
    font-size: 1.6rem;
}
input[type='text']{
    background-color: bisque;
    border:0px;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    border-radius: 20px;
    padding-left: 10px;
}
.wrong{
    background-color: red;
}
.box{
    font-size: 4rem;
}